@import "nib"
@import "normalize-css/normalize.css"

html
  font-family: 'Signika', 'Comic Sans MS', 'PT Sans', 'Eras Light ITC', Helvetica, Arial, sans-serif;

#wrapper
  max-width: 800px
  margin: 0 auto

.tile
  height: 100px
  width: 70px
  background: #db7474
  border-radius: 6px
  position: relative
  overflow: hidden
  .number
    width: @width
    height: @height
    line-height: @height
    box-sizing: border-box
    font-size: 45px
    color: #fff
    border-radius: @border-radius
    position: absolute
    text-align: center
    top: -5px
    padding-top: 5px
    background: #f88