@import "nib"
@import "normalize-css/normalize.css"

html
  font-family: 'Signika', 'Comic Sans MS', 'PT Sans', 'Eras Light ITC', Helvetica, Arial, sans-serif;
  font-size: 16px

#wrapper
  max-width: 600px
  margin: 0 auto

.plate
  background: #cfe6df
  padding: 1rem
  border-top: 0.25rem solid #bcd9d9
  border-radius: 1rem
  overflow: hidden

.tile
  height: 6.25rem
  width: 4.375rem
  background: #ffcc66
  border-radius: 0.375rem
  position: relative
  overflow: hidden
  margin: 0.625rem
  .number
    width: 100%
    height: @height
    line-height: @height
    box-sizing: border-box
    font-size: (45/16)rem
    border-radius: @border-radius
    position: absolute
    text-align: center
    top: (-5/16)rem
    padding-top: (5/16)rem
    background: #feffff
    color: #000
  &.one
    background: #60aaf1
    .number
      color: #fff
      background: #66ccff
  &.two
    background: #cc547c
    .number
      color: #fff
      background: #ff6881
